.myBtn {
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
    background-color: #6CA3E2;
    border: none;
    color: #000000;
    padding: 3px 15px;
    border-radius: 5px;
}
.myBtn:hover {
    background-color: #588DCA;

}

