.Header{
    height: 50px;
    background-color:#BCCDE5;
    border-bottom: 2px solid #ACBCD3;
    display: flex;
    justify-content: center;
}
.Header strong{
    white-space: nowrap;
}
.Logo{
    width: 100%;
    max-width: 1024px;
    display: flex;
    font-size: 20px;
    font-weight: 900;
}
.HeaderContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ButtonsContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.Buttons{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}