.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.room-container {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    margin-top: 20px;
    border: 5px solid #97ACCA;
    border-radius: 10px;
    align-items: flex-start;
    min-width: 1024px;
    max-width: 1024px;
}
.roomItem{
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    max-width: 1024px;
    box-sizing: border-box;
}

.room__btns {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}
body {
    /*background: linear-gradient(110.34deg, #BCCDE5 2.76%, #588DCA 128.27%);*/
    background-color: #ACBCD3;
}

