.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.roomItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid gray;
    width: 100%;
    max-width: 1024px;
    background: white;
}

.room__btns {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}
body {
    background: linear-gradient(110.34deg, #BCCDE5 2.76%, #588DCA 128.27%);
}

