.AdminTable{
    width: 100%;
    border-collapse: collapse;
}

.AdminThead{
    color: black;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}

.AdminTbody {
    border: 1px solid black;
    text-align: center;
}

.AdminTableContainer{
    width: 100%;
    max-width: 1024px;
}

.AdminHeader{
    display: flex;
    justify-content: center;
}
