.header {
    display: flex;
    justify-content: center;
    position: relative;

}
.hotel-container {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    margin-top: 20px;
    border: 5px solid #97ACCA;
    border-radius: 10px;
    align-items: flex-start;
    min-width: 1024px;
    max-width: 1024px;
}

.swiper-container {
    width: 70%;
    height: 350px;
    margin: 0 auto;
    text-align: center;
}

.swiper-slide {
    display: flex;
    width: 100%;

}

.swiper-slide img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 1024px;
    border-radius: 5px;
    object-fit: fill;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.swiper-button-prev:before,
.swiper-button-next:before {
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-prev:before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.swiper-button-next:before {
    right: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
}
.Hotel {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    max-width: 1024px;
    box-sizing: border-box;
}

.post__btns {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .Hotel {
        padding: 0 10px;

    }
}