.regist {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: linear-gradient(110.34deg, #BCCDE5 2.76%, #588DCA 128.27%);
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.login-form {
    background-color: #BCCDE5;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(15, 53, 97, 0.2), 0 6px 20px 0 rgba(15, 53, 97, 0.19);
    animation: slide-up 0.5s ease-in-out;
}
@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 8px;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}