.header {
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 380px 0px;
    height: 100%;

}
.searchHeader{
    height: 80px;
    background-color:rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    max-width: 1024px;
    position: relative;
    animation: slide-up 0.5s ease-in-out;
}
@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.searchContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}
.searchInput{
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}